<div>
  <label title="This will make a GET-Request to the service"><h2>Request</h2></label> <br/>
  <label title="This code can be found in tha Main menu">State:</label> <input #state /> <br/>
  <label title="The first year of the interval">Begin:</label> <input #beginYear /><br/>
  <label title="The last year of the interval">End:</label> <input #endYear /><br/>
  <button (click)="get(state.value,beginYear.value,endYear.value); state.value='';
                   beginYear.value=''; endYear.value=''">
    GET
  </button>
</div>
<div *ngIf="isLoading == true">
    <h2>Loading Data - Please wait... </h2>
</div>
<div *ngIf="data_list.length > 0">
    <h2>Data in cache</h2>
    <ul class="data-list">
      <li *ngFor="let data of data_list">
        <a routerLink="/detail/{{data.id}}">
          <span class="badge">{{data.id}}</span> {{data.state_name}}
        </a>
        <button class="delete" title="delete data"
          (click)="delete(data)">x
        </button>
      </li>
    </ul>
</div>
