<div *ngIf="data">
  <h3> ID: <label>{{data.id | uppercase}}</label></h3>
  <h3> State: <label>{{data.state_name | uppercase}}</label></h3>
  <h3> Type: BOLSA FAMÍLIA </h3>
  <div>
    <label>ID: </label> <input [(ngModel)]="data.id" placeholder="Identification"/>
    <button title="save changes" (click)="save()">Update ID</button>
    <button title="go back" (click)="goBack()">go back</button>
  </div>

  <br/>
      <div>
      The first two characters of the <b>Id</b> must remain the same.
          If you try to change it, the server will concatenate the first two digits with the new Id.
      </div>
</div>
<br/>

<div *ngIf="chart" id="container"  class="chart-container">
    <div id="first"><canvas id="canvas">{{chart}}</canvas></div>
    <div id="second"><canvas id="barCanvas">{{barChart}}</canvas></div>
</div>
