label {
  display: inline-block;
  width: 3em;
  margin: .10em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: solid;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
button {
  background-color: #0aeb7e;
  border: solid;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

#container {
    width: 98vw;
    margin: auto;
}

.chart-container {
    width: 90vw;
}

#first {
    width: 40vw;
    float: left;
}
#second {
    width: 40vw;
    float: left;
}
